numpy
Pillow
matplotlib
streamlit
chardet
charset-normalizer
streamlit-image-comparison
streamlit-image-coordinates
streamlit-image-coordinates
opencv-python
streamlit-nested-layout
scipy
typing-extensions
redis
memory_profiler
psutil
scikit-learn
pydantic
scikit-image